  
  <div class="ionic-stepper-horizontal-header-container ion-margin-horizontal">
    <ion-back-button text=" " defaultHref="" (click)="previousStep()"></ion-back-button>
    <ng-container *ngFor="let step of _steps; let i = index; let isLast = last">
       <app-step-header [index]="i"
                          [icon]="step.icon"
                          [errorIcon]="step.errorIcon"
                          [label]="step.label"
                          [status]="step.status"
                          [active]="i <= selectedIndex">
       </app-step-header>
       <div *ngIf="!isLast" class="ionic-stepper-horizontal-line" [ngClass]="{'ionic-stepper-horizontal-line-active': i < selectedIndex}"></div>
   </ng-container>
   <span class="stepper-counter">{{selectedIndex+1}}/{{_steps.length}}</span>
 </div>
 <ng-container *ngFor="let step of _steps; let i = index; let isLast = last">
     <div class="ionic-stepper-horizontal-content-container"
          [class.ionic-stepper-vertical-line]="!isLast">
         <div class="ionic-stepper-horizontal-content"
              [@horizontalStepTransition]="getAnimationDirection(i)">
              <div class="ionic-vertical-content" *ngIf="i === selectedIndex">
                  <ng-container [ngTemplateOutlet]="step.content"></ng-container>
              </div>
         </div>
     </div>
 </ng-container>
