<ion-content>
  <ion-row class="ion-justify-content-center ion-padding-vertical title">
    <span>{{'why-is-it-important.whyIsItImportant' | translate }}</span>
  </ion-row>

  <ion-row class="ion-padding">
    <span class="regular-text">{{'why-is-it-important.text1' | translate }}</span>
    <span class="regular-text">{{'why-is-it-important.text2' | translate }}</span>
  </ion-row>
  

  <ion-row class="ion-justify-content-center ion-padding">
    <ion-button expand="block" shape="round" class="btn-base ion-margin-top color-gradient-button" (click)="gotIt()">
      {{'why-is-it-important.iGotIt' | translate}}
    </ion-button>
  </ion-row>

</ion-content>
